body
{
    background-color: #000000;
    width: 980px;
    margin: 0px auto;
    padding-top: 20px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;;
}

#header
{
    background-image: url(../images/zombie.png);
    background-repeat: no-repeat;
    height: 128px;
    margin-bottom: 40px;
    padding-left: 300px;
}

#headtext
{
    background-color: #000000;
    color: crimson;
    margin-left: 160px;
    padding-top: 30px;
    font-size: 28pt;
    font-style: italic;
}

#menu
{
    text-align: center;
}

#menu a
{
    padding: 2px 20px 2px 2px;
    font-size: 14pt;
    font-weight: bold;
    text-decoration: none;
}

h1
{
    background-color: #000000;
    color: #ffffff;
}

h2
{
    background-color: #000000;
    color: #90a090;
    font-size: 14pt;
    margin-top: 30px;
}

p
{
    background-color: #000000;
    color: #ffffff;
    font-size: 10pt;
    text-align: justify;
}

p.rajz
{
    margin-top: 30px;
    text-align: center;
}

p.film
{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

img
{
    border: none;
}

img.rajz
{
    margin-bottom: 10px;
}

img.illusztracio
{
    float: left;
    margin: 15px;
}

ul
{
    list-style-type: square;
}

li
{
    background-color: #000000;
    color: #ffffff;
    font-size: 10pt;
}

a
{
    background-color: #000000;
    color: crimson;
}

#footer
{    
    background-color: #101010;
    color: #ffffff;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 8pt;
    clear: both;
}

#footer a
{
    background-color: #101010;
}
